* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 16px Verdana;
}

.primary-button {
  display: block;
  width: auto;
  background-color: dodgerblue;
  color: #fff!important;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 5px;
  border-radius: 5%;
  text-align: center;
}
.primary-button:hover {
  background-color: cornflowerblue;
}

.primary-button:disabled, 
.primary-button[disabled] {
  background-color: grey;
  cursor: default;
}